<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="css/estilo.css">
    <title>Tienda Mascota</title>
</head>
<body>

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" 
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <!--inicio cabecera-->
    <div class="collapse" id="navbarToggleExternalContent">
        <div class="bg-success p-4">
          <h5 class="text-white h4">tienda de mascotas </h5> <h5 class="text-white h4" style="text-align:right">numero contacto : +59612345678</h5>
          <span class="text-light">Grupo 04 Yarko Alarcón| Kamilo Robledo</span>
        </div>
      </div>
      <nav class="navbar navbar-success bg-success">
        <div class="container-fluid">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="icon"></span>
            <img src="logo.png" alt="" width="50" height="24">
          </button>
        </div>
      </nav>
    <!--fin de cabecera-->
    <!--inicio de menu -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light p-3" id="menu">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">
            <img src="logo.png" alt="" width="50" height="24">
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"></button>
          <span class="navbar-toggler-icon"></span>
        </button>
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link " aria-current href="./inicio.html">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="./bandanas.html">Bandanas</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="./correas.html">Correas</a>
          </li> 
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="./identificadores.html">Identificadores</a>
          </li>       
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="./accesorios.html">Accesorios</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="./conocenosMejor.html">Conocenos Mejor</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="./registro.html">Registro</a>
          </li>
        </ul>
          <form class="d-flex">
            <input class="form-control me-2" type="Email" placeholder="dime que quieres buscar" aria-label="E">
            <button class="btn btn-success" type="submit">Buscar</button>
          </form>
        </div>
      </div>
    </nav>
    <!--fin de menu--> 
        <!--inicio de dialogo de venta-->
        <section class="w-50 mx-auto text-center pt-5" id="intro"> 
          <h1 class="p-3 fs-2 border-top border-3">Consulta lo que necesites en nuestro wsp<span class="text-primary"> +59612345678</span></h1>
          <p class="p-3 fs-4"><span ></span>Tenemos los mejores productos de marcas a nivel mundial. Tenemos el compromiso de entregar sólo lo mejor a ti y tus amigales.</p>
        </section>
        <!--fin de dialogo de venta-->
        <!--inicio de imagenes con parrafo--> 
        <section class="w-100">
          <div class="row w-75 mx-auto" id="servicios-fila-1">       
              <div class="col-lg-6 col-md-12 col-sm-12 d-flex justify-content-start my-5 icono-wrap">
                  <img src="./img/cama.jpg" alt="desarrollo"   width="180" height="160">  
                  <div>
                      <h3 class="fs-5 mt-4 px-4 pb-1">Cama</h3>
                      <p class="px-4">Muchos tipos de colores para cada día de la semana</p>
                  </div>  
              </div>
              <div class="col-lg-6 col-md-12 col-sm-12 d-flex justify-content-start  my-5 icono-wrap">              
                <div ><center>
                  <h3 class="fs-5 mt-4 px-4 pb-1 icono-wrap"> COSTO $ 5900 </h3>         
                  <p class="px-4">CODIGO DE VENTA: AFWERGDFVSDFV</p>
                  <button  type="button" class="btn btn-success btn-lg  ">COMPRAR</button>
                </center>
              </div>            
              </div>   
    
              <div class="col-lg-6 col-md-12 col-sm-12 d-flex justify-content-start  my-5 icono-wrap">
                  <img src="./img/carnet.jpg" alt="concepto" width="180" height="160">
                  <div>
                      <h3 class="fs-5 mt-4 px-4 pb-1 icono-wrap">Carnet</h3>
                      <p class="px-4">viste a tu gato para q sea cooll</p>
                  </div>
                </div>  
                <div class="col-lg-6 col-md-12 col-sm-12 d-flex justify-content-start  my-5 icono-wrap">
                  <div ><center>
                    <h3 class="fs-5 mt-4 px-4 pb-1 icono-wrap"> COSTO $ 2900 </h3>
                    <p class="px-4">CODIGO DE VENTA: EWBTFRBSDFVBS</p>
                    <button  type="button" class="btn btn-success btn-lg  ">COMPRAR</button>
                  </center>
                </div>
            </div>  
          </div>        
    
          <section class="w-100">
            <div class="row w-75 mx-auto" id="servicios-fila-1">       
                <div class="col-lg-6 col-md-12 col-sm-12 d-flex justify-content-start my-5 icono-wrap">
                    <img src="./img/jugetes.jpg" alt="desarrollo"   width="180" height="160">  
                    <div>
                        <h3 class="fs-5 mt-4 px-4 pb-1">Juguetes</h3>
                        <p class="px-4">Muchos tipos de colores para cada día de la semana</p>
                    </div>  
                </div>
                <div class="col-lg-6 col-md-12 col-sm-12 d-flex justify-content-start  my-5 icono-wrap">              
                  <div ><center>
                    <h3 class="fs-5 mt-4 px-4 pb-1 icono-wrap"> COSTO $ 5900 </h3>         
                    <p class="px-4">CODIGO DE VENTA: AFWERGDFVSDFV</p>
                    <button  type="button" class="btn btn-success btn-lg  ">COMPRAR</button>
                  </center>
                </div>            
                </div>   
      
                <div class="col-lg-6 col-md-12 col-sm-12 d-flex justify-content-start  my-5 icono-wrap">
                    <img src="./img/lentes.jpg" alt="concepto" width="180" height="160">
                    <div>
                        <h3 class="fs-5 mt-4 px-4 pb-1 icono-wrap">Lentes </h3>
                        <p class="px-4">viste a tu gato para q sea cooll</p>
                    </div>
                  </div>  
                  <div class="col-lg-6 col-md-12 col-sm-12 d-flex justify-content-start  my-5 icono-wrap">
                    <div ><center>
                      <h3 class="fs-5 mt-4 px-4 pb-1 icono-wrap"> COSTO $ 2900 </h3>
                      <p class="px-4">CODIGO DE VENTA: EWBTFRBSDFVBS</p>
                      <button  type="button" class="btn btn-success btn-lg  ">COMPRAR</button>
                    </center>
                  </div>
              </div>  
            </div>        
        <!--final de imagenes con parrafo--> 
        <!--inicio-->
        <header class="container-fluid bg-dark d-flex justify-content-center ">
            
          <p class="text-light mb-0 p-2 fs-6">Grupo 04 Yarko Alarcón| Kamilo Robledo</p>
      </header>
      <!--final-->

</body>
</html>