<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="css/estilo.css">
    <title>Tienda Mascota</title>
</head>
<body>

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" 
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <!--inicio cabecera-->
    <div class="collapse" id="navbarToggleExternalContent">
        <div class="bg-success p-4">
          <h5 class="text-white h4">tienda de mascotas </h5> <h5 class="text-white h4" style="text-align:right">numero contacto : +59612345678</h5>
          <span class="text-light">Grupo 04 Yarko Alarcón| Kamilo Robledo</span>
        </div>
      </div>
      <nav class="navbar navbar-success bg-success">
        <div class="container-fluid">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="icon"></span>
            <img src="logo.png" alt="" width="50" height="24">
          </button>
        </div>
      </nav>
    <!--fin de cabecera-->
    <!--inicio de menu -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light p-3" id="menu">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">
            <img src="logo.png" alt="" width="50" height="24">
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"></button>
          <span class="navbar-toggler-icon"></span>
        </button>
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="./inicio.html">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="./bandanas.html">Bandanas</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="./correas.html">Correas</a>
          </li> 
          <li class="nav-item">
            <a class="nav-link"aria-current="page" href="./identificadores.html">Identificadores</a>
          </li>       
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="./accesorios.html">Accesorios</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="./conocenosMejor.html">Conocenos Mejor</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="./registro.html">Registro</a>
          </li>
        </ul>
          <form class="d-flex">
            <input class="form-control me-2" type="Email" placeholder="dime que quieres buscar" aria-label="E">
            <button class="btn btn-success" type="submit">Buscar</button>
          </form>
        </div>
      </div>
    </nav>
    <!--fin de menu--> 

    <!--inicio de imagenes con parrafo--> 
    <section class="w-100">
      <div class="row w-75 mx-auto" id="servicios-fila-1">       
          <div class="col-lg-6 col-md-12 col-sm-12 d-flex justify-content-start my-5 icono-wrap">
              <img src="./img/correa1.jpeg" alt="desarrollo"   width="180" height="160">  
              <div>
                  <h3 class="fs-5 mt-4 px-4 pb-1">Correa retractil </h3>
                  <p class="px-4">la comodidad es nuestra preoridad</p>
              </div>  
          </div>
          <div class="col-lg-6 col-md-12 col-sm-12 d-flex justify-content-start  my-5 icono-wrap">              
            <div ><center>
              <h3 class="fs-5 mt-4 px-4 pb-1 icono-wrap"> COSTO $ 5000 </h3>         
              <p class="px-4">CODIGO DE VENTA: POIULKJPUOMNB</p>
              <button  type="button" class="btn btn-success btn-lg  ">COMPRAR</button>
            </center>
          </div>            
          </div>   

          <div class="col-lg-6 col-md-12 col-sm-12 d-flex justify-content-start  my-5 icono-wrap">
              <img src="./img/correa2.jpg" alt="concepto" width="180" height="160">
              <div>
                  <h3 class="fs-5 mt-4 px-4 pb-1 icono-wrap">Correas</h3>
                  <p class="px-4">lleva tu mascota con seguridad y comodidad</p>
              </div>
            </div>  
            <div class="col-lg-6 col-md-12 col-sm-12 d-flex justify-content-start  my-5 icono-wrap">
              <div ><center>
                <h3 class="fs-5 mt-4 px-4 pb-1 icono-wrap"> COSTO $ 6000 </h3>
                <p class="px-4">CODIGO DE VENTA: TYUGHJVBNTYUI</p>
                <button  type="button" class="btn btn-success btn-lg  ">COMPRAR</button>
              </center>
            </div>
        </div>  
      </div>        

      <section class="w-100">
        <div class="row w-75 mx-auto" id="servicios-fila-1">       
            <div class="col-lg-6 col-md-12 col-sm-12 d-flex justify-content-start my-5 icono-wrap">
                <img src="./img/correa3.webp" alt="desarrollo"   width="180" height="160">  
                <div
                    <h3 class="fs-5 mt-4 px-4 pb-1">Correa para el dorso</h3>
                    <p class="px-4">ahora no te preocupes estas correas no ahorcaran mas a tus mascotas</p>
                </div>  
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 d-flex justify-content-start  my-5 icono-wrap">              
              <div ><center>
                <h3 class="fs-5 mt-4 px-4 pb-1 icono-wrap"> COSTO $ 6000 </h3>         
                <p class="px-4">CODIGO DE VENTA: ZXCVBNMZXCVBN</p>
                <button  type="button" class="btn btn-success btn-lg  ">COMPRAR</button>
              </center>
            </div>            
            </div>   
  
            <div class="col-lg-6 col-md-12 col-sm-12 d-flex justify-content-start  my-5 icono-wrap">
                <img src="./img/carrea4.jpg" alt="concepto" width="180" height="160">
                <div>
                    <h3 class="fs-5 mt-4 px-4 pb-1 icono-wrap">Correa de oveja </h3>
                    <p class="px-4">el estilo es una forma de espresar la autentidad de cada mascota</p>
                </div>
              </div>  
              <div class="col-lg-6 col-md-12 col-sm-12 d-flex justify-content-start  my-5 icono-wrap">
                <div ><center>
                  <h3 class="fs-5 mt-4 px-4 pb-1 icono-wrap"> COSTO $ 7000 </h3>
                  <p class="px-4">CODIGO DE VENTA: PQOWIEURYTHFG</p>
                  <button  type="button" class="btn btn-success btn-lg  ">COMPRAR</button>
                </center>
              </div>
          </div>  
        </div>  
        
        <section class="w-100">
          <div class="row w-75 mx-auto" id="servicios-fila-1">       
              <div class="col-lg-6 col-md-12 col-sm-12 d-flex justify-content-start my-5 icono-wrap">
                  <img src="./img/correa5.jpg" alt="desarrollo"   width="180" height="160">  
                  <div>
                      <h3 class="fs-5 mt-4 px-4 pb-1">Correa de para conejos</h3>
                      <p class="px-4">ahora puedes dar un paseo con tu agigo sin que se pierda</p>
                  </div>  
              </div>
              <div class="col-lg-6 col-md-12 col-sm-12 d-flex justify-content-start  my-5 icono-wrap">              
                <div ><center>
                  <h3 class="fs-5 mt-4 px-4 pb-1 icono-wrap"> COSTO $ 3900 </h3>         
                  <p class="px-4">CODIGO DE VENTA: QAZWSXEDCRFVT</p>
                  <button  type="button" class="btn btn-success btn-lg  ">COMPRAR</button>
                </center>
              </div>            
              </div>   
    
              <div class="col-lg-6 col-md-12 col-sm-12 d-flex justify-content-start  my-5 icono-wrap">
                  <img src="./img/correa6.jpg" alt="concepto" width="180" height="160">
                  <div>
                      <h3 class="fs-5 mt-4 px-4 pb-1 icono-wrap">Correa de paseo </h3>
                      <p class="px-4">Muchos tipos de colores para cada día de la semana</p>
                  </div>
                </div>  
                <div class="col-lg-6 col-md-12 col-sm-12 d-flex justify-content-start  my-5 icono-wrap">
                  <div ><center>
                    <h3 class="fs-5 mt-4 px-4 pb-1 icono-wrap"> COSTO $ 2900 </h3>
                    <p class="px-4">CODIGO DE VENTA: EWBTFRBSDFVBS</p>
                    <button  type="button" class="btn btn-success btn-lg  ">COMPRAR</button>
                  </center>
                </div>
            </div>  
          </div>   

          <section class="w-100"></section>
            <div class="row w-75 mx-auto" id="servicios-fila-1">       
                <div class="col-lg-6 col-md-12 col-sm-12 d-flex justify-content-start my-5 icono-wrap">
                    <img src="./img/correa7.jpg" alt="desarrollo"   width="180" height="160">  
                    <div>
                        <h3 class="fs-5 mt-4 px-4 pb-1">Correa tradicional</h3>
                        <p class="px-4">la tradicion es importante, que no te dijan lo contrario</p>
                    </div>  
                </div>
                <div class="col-lg-6 col-md-12 col-sm-12 d-flex justify-content-start  my-5 icono-wrap">              
                  <div ><center>
                    <h3 class="fs-5 mt-4 px-4 pb-1 icono-wrap"> COSTO $ 2000 </h3>         
                    <p class="px-4">CODIGO DE VENTA: AFWERGDFVSDFV</p>
                    <button  type="button" class="btn btn-success btn-lg  ">COMPRAR</button>
                  </center>
                </div>            
                </div> 
              </section>         
    <!--final de imagenes con parrafo--> 
    <!--inicio-->
    <header class="container-fluid bg-success d-flex justify-content-center ">
      <p class="text-light mb-0 p-2 fs-6">Grupo 04 Yarko Alarcón| Kamilo Robledo</p>
  </header>
  <!--final-->
</body>
</html>