<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="css/estilo.css">
    <title>Tienda Mascota</title>
</head>
<body>

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" 
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <!--inicio cabecera-->
    <div class="collapse" id="navbarToggleExternalContent">
        <div class="bg-success p-4">
          <h5 class="text-white h4">tienda de mascotas </h5> <h5 class="text-white h4" style="text-align:right">numero contacto : +59612345678</h5>
          <span class="text-light">Grupo 04 Yarko Alarcón| Kamilo Robledo</span>
        </div>
      </div>
      <nav class="navbar navbar-success bg-success">
        <div class="container-fluid">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="icon"></span>
            <img src="logo.png" alt="" width="50" height="24">
          </button>
        </div>
      </nav>
    <!--fin de cabecera-->
    <!--inicio de menu -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light p-3" id="menu">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">
            <img src="logo.png" alt="" width="50" height="24">
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"></button>
          <span class="navbar-toggler-icon"></span>
        </button>
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="./inicio.html">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="./bandanas.html">Bandanas</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="./correas.html">Correas</a>
          </li> 
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="./identificadores.html">Identificadores</a>
          </li>       
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="./accesorios.html">Accesorios</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="./conocenosMejor.html">Conocenos Mejor</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="./registro.html">Registro</a>
          </li>
        </ul>
          <form class="d-flex">
            <input class="form-control me-2" type="Email" placeholder="dime que quieres buscar" aria-label="E">
            <button class="btn btn-outline-success" type="submit">Buscar</button>
          </form>
        </div>
      </div>
    </nav>
    <!--fin de menu--> 
    <!--inicio de formulario--> 
    <div class="titulo" ><center>Registro</center></div>
    <form>
    <section class="w-50 mx-auto text-center pt-5" id="intro">
        <div class="nombre">
            <div>
                <label>Nombres :</label>
                <br>
                <input type="text" name="nombres" placeholder="ingrece sus nombres">
            </div>
            <div>              
                <label>Apellidos :</label>
                <br>
                <input type="text" name="apellidos" placeholder="ingrece sus apellidos">              
            </div>
        </div>
        <div class="sexo">
            <label>SEXO :</label>
            <br>
            <label>Masculino :</label>
            <input type="radio" name="sexo" value="masculino">              
            <br>
            <label>Femenino :</label>
            <input type="radio" name="sexo" value="femenino">            
        </div>
        <div class="rut">
            <div>
                <label>Rut</label>
                <br>
                <input type="text" name="rut" placeholder="ingrece su rut sin puntos y guion">
            </div>
        </div>
        <div class="contacto">
            <div>
                <label>Teléfono</label>
                <br>
                <input type="tel" name="telefono" placeholder="ingrece su telefono">              
            </div>                
            <div>
                <label>Email</label>
                <br>
                <input type="email" name="email" placeholder="ingrece su correo">                     
            </div>
        </div>   
        <div class="contrasena">
            <div>
                <label>Contraseña</label>
                <br>
                <input type="text" name="contraseña" placeholder="ingrece una contraseña">
            </div>
            <div>
                <label>Confirmar Contraseña</label>
                <br>
                <input type="text" name="contraseña2" placeholder="ingrece una contraseña">
            </div>
        </div>
        <div class="boton">
            <div>
                <input type="submit" name="Enviar">
                <input type="reset" name=" Limpiar">
            </div>
        </div>
      </section>
    </form>
    <!--fin de formulario-->
        <!--inicio validador de rut-->
        <script>
          var Fn = {
              validaRut: function(rutCompleto) {
                  if (!/^[0-9]+-[0-9kK]{1}$/.test(rutCompleto))
                      return false;
                  var tmp = rutCompleto.split('-');
                  var digv = tmp[1];
                  var rut = tmp[0];
                  if (digv == 'K') digv = 'k';
                  return (Fn.dv(rut) == digv);
              },
              dv: function(T) {
                  var M = 0,
                      S = 1;
                  for (; T; T = Math.floor(T / 10))
                      S = (S + T % 10 * (9 - M++ % 6)) % 11;
                  return S ? S - 1 : 'k';
              }
          }
          //1.-  Poner placeholder:
          $("#order_shipping_address_taxid").attr("placeholder", "xxxxxxxx-x (sin puntos)")
          $("#order_billing_address_taxid").attr("placeholder", "xxxxxxxx-x (sin puntos)")
          // 2.- Validar on Submit
          $("#checkout").submit(function(evt) {
              let sameAsBilling = $("#shipping_same_as_billing").is(":checked");
              let rutShipping = $("#order_shipping_address_taxid").val();
              let rutBilling = $("#order_billing_address_taxid").val();
              if (sameAsBilling) {
                  if (Fn.validaRut(rutShipping)) {
                      return;
                  } else {
                      evt.preventDefault();
                      alert("Formato de RUT debe ser xxxxxxxx-x sin puntos");
                  }
              } else {
                  console.log("validar dos rut:" + rutShipping + "&" + rutBilling);
                  if (Fn.validaRut(rutShipping)) {
                      return;
                  } else {
                      evt.preventDefault();
                      alert("Formato de RUT en dirección de envio debe ser xxxxxxxx-x sin puntos");
                  }
                  if (Fn.validaRut(rutBilling)) {
                      return;
                  } else {
                      evt.preventDefault();
                      alert("Formato de RUT en dirección de facturación debe ser xxxxxxxx-x sin puntos");
                  }
              }
          });
          </script>
        <!--final validador de rut -->
        <!--final de rut para formualario-->  
    <!--inicio-->
    <header class="container-fluid bg-success d-flex justify-content-center ">
            
      <p class="text-light mb-0 p-2 fs-6">Grupo 04 Yarko Alarcón| Kamilo Robledo </p>
  </header>
  <!--final--> 
</body>
</html>